body{
    margin: 0;
    padding: 0;
}
header{    
    display: flex;   
}

#tlo{
    background-image: url("IMG/bg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 550px;
}
#logo{
    display: flex;
    padding-left: 10px;
    padding-top: 15px;
    color: white;
}
#logo>img{
    width: 70px;
    height: 70px;
}
nav{
    padding-left: 900px;
    padding-top: 30px;
}
nav>a{
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
#cztery{
    background-color: red;
    border: 2px solid red;
    border-radius: 5px;
}
main{
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    clear: both;
    width: 46%;
    margin-left: 27%;
    margin-right: 27%;
    text-align: center;
    padding-top:38px;
}
main>img{
    width: 15%;
    border: 5px solid white;
    margin-top: -50px;
    border-radius: 50px;
}
#nav1>a{
    text-decoration: none;
    padding-left: 170px;
    padding-right: 170px;    
    border-radius: 5px;
    color: #9cd5e0;
    font-size: 40px;
    font-weight: bold;
    background-color: #313d39;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    margin-top: 50px;
}
footer{
    margin-top: 100px;
    background-color: #313d39;
    display: flex;
    clear: both;
    height:300px;
}
#left{
    color: white;
    width:40%;
    text-align: left;
    justify-content: left;
}
#right{
    width:60%;
    text-align: center;
    justify-content: center;
}
#left h1{
    width: 70%;
    padding-top: 90px;
    font-size: 40px;
}
#flex img{
    height:50%;
    padding-top:35px;
}
#butt button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: red;
    border: 2px solid red;
    border-radius: 5px;
}
#butt input{
    border-radius: 5px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid white;
    width:50%;
}
#flex{
    display:flex;
    height:200px;
}
#butt{
    height:100px;
}
#biał{
    color:white;
    text-decoration: solid;
}
#biał,#trr{
    text-align: left;
}
#trr{
    opacity : 0.5;
    color:black;
}